body, samp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #F4F4F4;
	font-size: 1em;
	padding: 20px;
}
code, samp {
	font-family: "Courier New", Courier, mono;
	font-size: 1em;
	padding: 0px
}
samp {
	color: #CC0000;
}

.output-html {
	color: green;
}

h1 {
	border-bottom: 3px solid #333;
}
h2 {
	border-bottom: 2px solid #333;
}
h3 {
	border-bottom: 1px solid #333;
}

.spoiler {
	color: #F4F4F4;
}

.uppercase {
	text-transform: uppercase;
}